#mainHeading {
    color: red;
}
body {
   margin: 8px;
   background-color: maroon; 
   font-family: Georgia, serif;
}
.title-text {
    background-color: black;
    text-align: center;
    font-family: Georgia, serif;
    width: 100%;
    padding: 25px;
    color: red;
}

.container-one {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 4, 4, 0.5);
  }
.imgage {
    max-width: 100%;
    max-height:100%;
  }  
.text {
    font-size: 15px;
    padding-left: 20px;
    color: rgb(163, 159, 159);
  }
  .point {
    color: whitesmoke;
  }

.h2-headings {
    color: red;
    background-color: black;
    align-content: center;
    font-size: 25px;
    text-align: center;
  }
h3 {
  font-size: 30px;
    color: rgb(197, 2, 2);
}

.container-two {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 10, 10, 0.5);
    width: 100%;
}

.container-three {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(75, 10, 10, 0.5);
    width: 100%;
}
.bottom-image {
  flex: below;
}

.footer {
  font-size: xx-small;
  position: sticky;
  width: 100%;
  bottom: 0px;
}

#testP {
    color: green;
    font-size: xx-small;
}
.funParagraph {
    color: green;
    font-size: xx-small;
}